<!-- Page Preloder -->
<header th:fragment="header-index">
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="img/logo.png" alt=""></a>
        </div>

        <div class="humberger__menu__cart" th:if="${user != null}">
            <th:block th:if="${user.role=='ROLE_USER'}">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="/user/cart"><i class="fa fa-shopping-bag"></i> <span>[[${countCart}]]</span></a></li>
            </ul>
            <div class="header__cart__price">Giỏ Hàng: <span>[[${totalOrderPrice}]]</span></div>
            </th:block>
        </div>
        
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="img/lachuan.png" alt="">
                <div>Tiếng Việt</div>
                
                </ul>
            </div>
            <div class="header__top__right__auth">
                <!-- Nếu người dùng đã đăng nhập, hiển thị tên đăng nhập với dropdown -->
                <div class="dropdown" th:if="${user}">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Chào, <span th:text="${user.name}"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li th:if="${user.role=='ROLE_USER'}">
                            <a class="dropdown-item" href="/user/profile">Thông tin tài khoản</a></li>
                        <li th:if="${user.role=='ROLE_ADMIN'}">
                            <a class="dropdown-item" href="/admin/profile">Thông tin tài khoản</a>
                            <a class="dropdown-item" href="/admin/">Admin</a></li>
                        <li th:if="${user.role=='ROLE_USER'}">
                            <a class="dropdown-item" href="/user/cart">Giỏ hàng</a></li>
                            <a class="dropdown-item" href="/user/user-orders">Đơn hàng</a></li>
                        <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
                    </ul>
                </div>
                <!-- Nếu chưa đăng nhập, hiển thị liên kết đăng nhập -->
                <a href="/signin" th:if="${user == null}"><i class="fa fa-user"></i> Đăng nhập</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/shop-grid">Cửa Hàng</a></li>
                <li><a href="#">Trang</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="/user/cart">Giỏ Hàng</a></li>
                        <li><a href="/user/user-orders">Đơn hàng</a></li>
                    </ul>
                </li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Liên Hệ</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> Nhom@gmail.com</li>
                <li>Tất cả đều freeship!!!</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> Nhom@gmail.com</li>
                                <li>Tất cả đều freeship!!!</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="img/lachuan.png" alt="">
                                <div>Tiếng Việt</div>
                        
                                    
                                </ul>
                            </div>
                            <div class="header__top__right__auth">
                                <!-- Nếu người dùng đã đăng nhập, hiển thị tên đăng nhập với dropdown -->
                                <div class="dropdown" th:if="${user}">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        Chào, <span th:text="${user.name}"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li th:if="${user.role=='ROLE_USER'}">
                                            <a class="dropdown-item" href="/user/profile">Thông tin tài khoản</a></li>
                                        <li th:if="${user.role=='ROLE_ADMIN'}">
                                            <a class="dropdown-item" href="/admin/profile">Thông tin tài khoản</a>
                                            <a class="dropdown-item" href="/admin/">Admin</a></li>
                                        <li th:if="${user.role=='ROLE_USER'}">
                                            <a class="dropdown-item" href="/user/cart">Giỏ hàng</a></li>
                                            <a class="dropdown-item" href="/user/user-orders">Đơn hàng</a></li>
                                        <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
                                    </ul>
                                </div>
                                <!-- Nếu chưa đăng nhập, hiển thị liên kết đăng nhập -->
                                <a href="/signin" th:if="${user == null}"><i class="fa fa-user"></i> Đăng nhập</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="/"><img src="img/logothaythe.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/shop-grid">Cửa Hàng</a></li>
                            <li><a href="#">Trang</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="/user/cart">Giỏ Hàng</a></li>
                                    <li><a href="/user/user-orders">Đơn hàng</a></li>
                                </ul>
                            </li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="/contact">Liên Hệ</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart" th:if="${user != null}">
                        <th:block th:if="${user.role=='ROLE_USER'}">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="/user/cart"><i class="fa fa-shopping-bag"></i> <span>[[${countCart}]]</span></a></li>
                        </ul>
                        <div class="header__cart__price">Giỏ Hàng: <span>[[${totalOrderPrice}]]đ</span></div>
                        </th:block>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Danh mục</span>
                        </div>
                        <ul>
                            <li><a href="#">Thịt Tươi</a></li>
                            <li><a href="#">Rau Các Loại</a></li>
                            <li><a href="#">Hoa Quả và Quà Tặng</a></li>
                            <li><a href="#">Nho Tươi</a></li>
                            <li><a href="#">Đồ Hải Sản</a></li>
                            <li><a href="#">Bơ và Trứng</a></li>
                            <li><a href="#">Đồ Ăn Nhanh</a></li>
                            <li><a href="#">Hành Tươi</a></li>
                            <li><a href="#">Đu đủ & Crisps</a></li>
                            <li><a href="#">Ngũ Cốc</a></li>
                            <li><a href="#">Chuối</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="/shop-grid" method="get">
                                <input type="text" placeholder="Bạn cần gì?">
                                <button type="submit" class="site-btn">Tìm Kiếm</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>0325.374.546</h5>
                                <span>Hỗ Trợ 24/7</span>
                            </div>
                        </div>
                    </div>
                    <div class="hero__item set-bg" data-setbg="img/hero/banner.jpg">
                        <div class="hero__text">
                            <span>HOA QUẢ TƯƠI</span>
                            <h2>Rau <br />100% Organic</h2>
                            <p>Được chọn và Giao hàng miễn phí</p>
                            <a href="#" class="primary-btn">MUA NGAY</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</header>
